.sec__body_sinin{
	position: relative;
	width: 100%;
	height: 600px;
	top :70px;
	box-sizing: border-box;
	z-index: 1;
	background: #363650;
	overflow: hidden;
	 /* grid-area: body; */
}
.body__wrap_sininup{
    position: absolute;
    width: 85%;
    height: 88%;
    left: 8%;
    top: 6%;
    border-radius: 0px 20px 0px 20px;
    background: #fff;
    background: url('./img/фон2.png');
    background-size: cover;
    box-shadow: -10px 12px 36px black;
    border-top: 3px solid #6a6a7d;
    border-right: 3px solid #6a6a7d;
    border-bottom: 3px solid #1b1b28;
    border-left: 3px solid #1b1b28;
}
.block_registr_siunin{
    position: relative;
    width: 39%;
    height: 87%;
    border-radius: 0px 30px 0px 30px;
    left: 6%;
    background: transparent;
    top: 6%;
    border: 6px solid #38569d;
    box-shadow: -6px 7px 18px black;
}
.sinIn_block_reg{
    position: relative;
    width: 100%;
    height: 100px;
    background: transparent;
    border-radius: 0px 20px 0px 0px;
    overflow: hidden;
}
.login_in_block{
    position: relative;
    color: rgb(146, 146, 146);
    left: 17%;
    top: 29%;
    font-size: 23px;
    cursor: pointer;
    font-weight: bold;

}
.registration_block{
    position: relative;
    left: 37%;
    top: 31%;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    color: #38569d;
}
.fon_reg_block{
    position: absolute;
    width: 100%;
    /* top: -75px; */
    /* left: -14%; */
    border-radius: 0px 20px 0px 20px;
    height: 100%;
    background: #fff;
    opacity: 0.6;
}
.form_block_registrations{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 84%;
    background: transparent;
    top: -5%;
    border-radius: 0px 0px 0px 20px;
}
.inp_log_wrapp::after{
    content: "\41B\43E\433\438\43D";
    position: absolute;
    width: 23%;
    height: 22%;
    text-align: center;
    z-index: 2;
    line-height: 15px;
    top: -28%;
    font-size: 14px;
    background: #fff;
    left: 8%;
    color: rgb(146, 146, 146);
    border: 3px solid #38569d;
    border-bottom: 3px solid #fff;
}
.inp_pass_wrapp::after{
    content: "Пароль";
    position: absolute;
    width: 23%;
    height: 22%;
    text-align: center;
    z-index: 2;
    line-height: 15px;
    top: -28%;
    font-size: 14px;
    background: #fff;
    left: 8%;
    color: rgb(146, 146, 146);
    border: 3px solid #38569d;
    border-bottom: 3px solid #fff;
}
.input_login {
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #38569d;
    padding-left: 20px;
    font-size: 18px;
    box-shadow: -6px 3px 13px black;
}
.input_pass{
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #38569d;
    padding-left: 20px;
    /* font-size: 20px; */
    font-size: 18px;
    box-shadow: -6px 3px 13px black;
}
.input_pass_in{
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #38569d;
    padding-left: 20px;
    /* font-size: 20px; */
    font-size: 18px;
    box-shadow: -6px 3px 13px black;
}
.input_login_in {
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #38569d;
    padding-left: 20px;
    font-size: 18px;
    box-shadow: -6px 3px 13px black;
}
.inp_log_wrapp{
    position: relative;
    width: 75%;
    height: 45px;
    left: 11%;
    top: 7%;
   
    /* font-size: 17px; */
}
.inp_pass_wrapp{
    position: relative;
    position: relative;
    width: 75%;
    height: 45px;
    left: 11%;
    top: 18%; 

}
.capcha_my_create{
    position: absolute;
    width: 58%;
    height: 55px;
    background: red;
    top: 53%;
    left: 22%;
}
.but_registr{
    position: absolute;
    width: 80%;
    height: 50px;
    background: #38569d;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    color: #fff;
    top: 75%;
    left: 10%;
    cursor: pointer;
}
.vhod{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 84%;
    background: transparent;
    top: -5%;
    border-radius: 0px 0px 0px 20px;  
}
.sign_in{
    position: absolute;
    width: 80%;
    height: 50px;
    background: #38569d;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    color: #fff;
    top: 75%;
    left: 10%;
    cursor: pointer;  
}
.wrap_autoIn{
    position: relative;
    width: 100%;
    height: 100px;
    top: 24%;
}
.wrap_autoIn input{
    position: relative;
    width: 39px;
    height: 41px;
    left: 20%;
    opacity: 0;
    top: 19%;
    /* border: 3px solid red; */
}
/* ///test */

.checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    left: 7%;
    /* line-height: 31px; */
    color: #38569d;
  }
  .checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
  }
  .checkbox + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
  }
  .checkbox:checked + label:before {
    background: rgb(21, 33, 65);
  }
  .checkbox:checked + label:after {
    left: 26px;
  }
  .checkbox:focus + label:before {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(17, 0, 255, 0.7);
  }
  /* //////////slider */

.block_slider{
    position: absolute;
    width: 50%;
    height: 100%;
    /* background: red; */
    top: 1%;
    left: 49%;
    display: grid;
    grid-template-columns: 29% 33% 33%;
    grid-template-rows: 29% 44% 20%;
    grid-template-areas: "one two two"
 "foor six six"
 "foor seven thee ";
    grid-gap: 10px;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: perspective(600px);                   
}
.one_slide{
    position: relative;
    transition: 1s;
    grid-area: one;
    /* left: 31%; */
    /* top: 39%; */
    z-index: 2;
    background: url('./img/201102331491.jpg');
    background-size: cover;
    border: 3px solid #38569d;
}
.two_slide{
    position: relative;
    z-index: 2;
    grid-area: two;
    transition: 1s;
    /* left: 74%; */
    /* top: 13%; */ 
    background: url('./img/Bleach-Wallpapers-anime-debate-35241746-1024-768.jpg');
    background-size: cover;
    border: 3px solid #38569d;
}
.three_slide{
    position: relative;

    grid-area: thee;
    /* left: 5%; */
    background: url('./img/akamevsesdes.jpg');
    /* top: -63%; */
    background-size: cover;
    border: 3px solid #38569d;
}
.foor_slide{
    position: relative;

    grid-area: foor;
    /* left: 5%; */
    /* top: -62%; */
    background: url('./img/devushka_kryilya_perya_volosyi_golubyie.jpg');
    background-size: cover;
    border: 3px solid #38569d;   
}
.six_slide{
    position: relative;
    overflow: hidden;
    grid-area: six;
    /* left: 74%; */
    /* top: -93%; */
    background: url('./img/akamevsesdes.jpg');
    background-size: cover;
    border: 3px solid #38569d;     
}
.seven_slide{
    position: relative;

    grid-area: seven;
    /* left: 31%; */
    /* top: -135%; */
    background: url('./img/anime_tjomnie_oboi_4.jpg');
    background-size: cover;
    border: 3px solid #38569d;  
}
/* .block_slid_hover:hover{
    transition: 1s;
    grid-template-columns: 27% 43% 31%;
    grid-template-rows: 33% 57% 26%;
    grid-template-areas: "one two two"
                            "foor foor six"
                            "six six six";
               
    border:3px solid rgb(163, 108, 214);
    z-index: 100;
} */
/* .block_slid_hover:not(.block_slid_hover:hover){
    transform: scale(0.5);
} */
.block_slid_hover{
    border-radius: 7px
}
.Out_clas{
    opacity: 0;
}
.one_slide:hover{
    transition: 1s;
    transform: rotateY(180deg);
}
.two_slide:hover{
    transition: 1s;
    transform: rotateX(180deg);
}
.one_slide:hover .one_card_out{
    opacity: 1;
    position: absolute;
    width: 100%;
    color: #1b1b28;
    height: 100%;
    font-size: 20px;
    z-index: -10;
    background: url('./img/jjjjj.jpeg');
    background-size: cover;
    -webkit-transform: scale(1);
    transform: rotateY(180deg);
    -webkit-transition: 1s;
    transition: 1s;
}
.one_card_out p{
    position: relative;
    font-size: 18px;
    color: rgb(65, 50, 133);
    font-weight: bold;
    left: 3%;
}
.two_slide:hover .two_card_out{
    opacity: 1;
    position: absolute;
    width: 100%;
    color:#38569d;
    height: 100%;
    font-size: 20px;
   background:#fff;
    z-index: -10;  
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1s;
    transition: 1s;
    
}
.two_block_h3{
    position: relative;
    /* text-align: center; */
    left: 4%;
    top: -10%;
}
.block_two_image{
    background-size: cover;
    background: url('./img/catgif.gif');
    position: relative;
    width: 100%;
    height: 100%;
    top: -95%;
    z-index: -1;
    border-radius: 12px;
}
.two_slide:hover .two_card_out:hover{
      transform: rotateX(180deg);
}
.two_block_slid_ul{
    position: absolute;
    width: 90%;
    top: 54%;
    height: 33%;
    /* background: red; */
}
.two_block_slid_ul li{
    display: inline-flex;
    position: relative;
    width: 12%;
    height: 86%;
    /* background: blue; */
    border-radius: 195px;
    margin: 10px;
    overflow: hidden;
    top: -8px;
    border:  1px solid black;
}
.two_block_slid_ul li a img{
    position: relative;
    width: 100%;
    height: 100%;
    background: blue
}
.six_slide::before{
    content: '';
    -webkit-transition: 1s;
    transition: 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./img/model.jpg');
    background-size: cover;
    top: -100%;
    opacity: 0;
}
.six_slide::after{
    content: '';
    -webkit-transition: 1s;
    transition: 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    opacity: 0;
}
.six_slide:hover::after{
    top: 0%;
    opacity: 0.5;
    background: black;
}
.six_slide:hover::before{  
    top: 0%;
    opacity: 1;  
}
.six_slide:hover .six_card_out{
    position: relative;
    z-index: 100;
}
.six_card_out {
    top: 11%;
    z-index: -1;
    position: absolute;
    left: 7%;
}
.six_card_out .onl_translate::before{
    content: '';
    position: absolute;
    border: 3px solid rgb(81, 43, 202);
    width: 90%;
    height: 69%;
    left: -3%;
    top: -8%;
    border-radius: 10px;
   
    
}
.six_card_out a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
}
.besed::before{
    content: '';
    position: absolute;
    border: 3px solid rgb(81, 43, 202);
    width: 90%;
    height: 115%;
    left: -3%;
    top: -5%;
    border-radius: 10px;
}
.besed{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 129%;
}
.vibor{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 306%;  
}